<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Easy Kinematics</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Meta tags para autoría y diseño -->
    <meta name="author" content="VictoriaVMC" />
    <meta name="designer" content="TemplateMonster" />

    <!-- Meta tags para SEO -->
    <meta
      name="description"
      content="Easy Kinematics es una herramienta interactiva que facilita el cálculo y visualización de la cinemática en física, ideal para estudiantes y docentes. Desarrollada por VictoriaVMC con el diseño de TemplateMonster."
    />
    <meta
      name="keywords"
      content="Cinemática, Física, Calculadora, Easy Kinematics, Movimiento, Física para estudiantes, MRU, MRUA, Trayectoria del Proyectil Horizontal, Trenes, Problema Galileo"
    />

    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Easy Kinematics" />
    <meta
      property="og:description"
      content="Easy Kinematics es la herramienta definitiva para aprender y calcular la cinemática en física. Cálculos precisos y visualizaciones claras, creada por VictoriaVMC."
    />

    <meta
      property="og:image"
      content="{{ url_for('static', filename='images/logo.webp', _external=True) }}"
    />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <!-- Estilos -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Montserrat:300%7CQuestrial"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fonts.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fl-bigmug-line.css') }}"
    />

    <style>
      .ie-panel {
        display: none;
        background: #212121;
        padding: 10px 0;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
        clear: both;
        text-align: center;
        position: relative;
        z-index: 1;
      }
      html.ie-10 .ie-panel,
      html.lt-ie-10 .ie-panel {
        display: block;
      }

      /* Estilos para los botones cuadrados */
      .btn-square-gray {
        background-color: #e9ecef;
        border: 1px solid #adb5bd;
        color: #495057;
        border-radius: 0;
        min-width: 40px;
        margin: 0 2px;
        text-align: center;
        padding: 8px 12px;
      }

      .btn-square-gray:hover,
      .btn-square-gray.active,
      .btn-square-gray input[type="radio"]:checked + & {
        background-color: #ffc107;
        border-color: #ffc107;
        color: #212529;
      }
    </style>
  </head>

  <body>
    <!-- Se mantiene -->
    <div class="ie-panel">
      <a href="http://windows.microsoft.com/en-US/internet-explorer/"
        ><img
          src="images/ie8-panel/warning_bar_0000_us.jpg"
          height="42"
          width="820"
          alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."
      /></a>
    </div>

    <!-- Carga Se mantiene -->
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-spinner">
          <span class="cssload-cube cssload-cube0"></span
          ><span class="cssload-cube cssload-cube1"></span
          ><span class="cssload-cube cssload-cube2"></span
          ><span class="cssload-cube cssload-cube3"></span
          ><span class="cssload-cube cssload-cube4"></span
          ><span class="cssload-cube cssload-cube5"></span
          ><span class="cssload-cube cssload-cube6"></span
          ><span class="cssload-cube cssload-cube7"></span
          ><span class="cssload-cube cssload-cube8"></span
          ><span class="cssload-cube cssload-cube9"></span
          ><span class="cssload-cube cssload-cube10"></span
          ><span class="cssload-cube cssload-cube11"></span
          ><span class="cssload-cube cssload-cube12"></span
          ><span class="cssload-cube cssload-cube13"></span
          ><span class="cssload-cube cssload-cube14"></span
          ><span class="cssload-cube cssload-cube15"></span>
        </div>
        <h2 class="preloader-title">Easy Kinematics</h2>
      </div>
    </div>

    <div class="page">
      <!-- Cabecera -->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap position-relative">
          <nav
            class="rd-navbar"
            data-layout="rd-navbar-sidebar"
            data-device-layout="rd-navbar-sidebar"
            data-sm-layout="rd-navbar-sidebar"
            data-sm-device-layout="rd-navbar-sidebar"
            data-md-layout="rd-navbar-sidebar"
            data-md-device-layout="rd-navbar-sidebar"
            data-lg-layout="rd-navbar-sidebar"
            data-lg-device-layout="rd-navbar-sidebar"
            data-xl-layout="rd-navbar-sidebar"
            data-xl-device-layout="rd-navbar-sidebar"
            data-xxl-layout="rd-navbar-sidebar"
            data-xxl-device-layout="rd-navbar-sidebar"
            data-lg-stick-up-offset="46px"
            data-xl-stick-up-offset="46px"
            data-xxl-stick-up-offset="46px"
            data-lg-stick-up="true"
            data-xl-stick-up="true"
            data-xxl-stick-up="true"
            data-auto-height="false"
            data-sm-auto-height="false"
            data-md-auto-height="false"
            data-lg-auto-height="false"
            data-xl-auto-height="false"
            data-xxl-auto-height="false"
          >
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button
                    class="rd-navbar-toggle"
                    data-rd-navbar-toggle=".rd-navbar-nav-wrap"
                  >
                    <span></span>
                  </button>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-container">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      {% for endpoint, text in [ ('index', 'Inicio'), ('caso1',
                      'Cruce de Trenes'), ('caso2', 'Trayectoria de Proyectil')
                      ] %}
                      <li
                        class="rd-nav-item {% if active_page == endpoint %}active{% endif %}"
                      >
                        <a class="rd-nav-link" href="{{ url_for(endpoint) }}">
                          {{ text }}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                    <!-- Extra -->
                    <ul class="contacts-classic">
                      <li>
                        <div class="contacts-classic-title">E-mail:</div>
                        <a href="mailTo:#">victoriavmcortitrabajos@gmail.com</a>
                      </li>
                      <li>
                        <div class="contacts-classic-title">Sigueme en:</div>
                        <ul class="list-inline list-social list-inline-sm">
                          <li>
                            <a
                              class="icon fa fa-linkedin"
                              target="_blank"
                              href="https://www.linkedin.com/in/victoriavmc/"
                            ></a>
                          </li>
                          <li>
                            <a
                              class="icon fa fa-github"
                              target="_blank"
                              href="https://github.com/victoriavmc"
                            ></a>
                          </li>
                          <li>
                            <a
                              class="icon fa fa-youtube"
                              target="_blank"
                              href="https://www.youtube.com/@victoriavmc"
                            ></a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Contenido -->
      <!-- Parte1 -->
      <section
        class="section section-inset-1 bg-default text-center section-full"
        style="background-image: url('{{ url_for('static', filename='images/bg-image-1-1920x800.webp') }}')"
      >
        <div class="container">
          <div class="title-style-1-wrap">
            <div class="oh-desktop wow slideInLeft">
              <h1 class="title-style-1 wow slideInRight">
                {% if active_page == 'index' %} Easy Kinematics {% elif
                active_page == 'caso1' %} Cruce de Trenes {% elif active_page ==
                'caso2' %} Trayectoria de Proyectil {% endif %}
              </h1>
            </div>
          </div>
          <div class="title-style-2-wrap">
            <div class="oh-desktop wow slideInRight">
              <h5 class="title-style-2 wow slideInLeft">
                {% if active_page == 'index' %} By: VictoriaVMC {% else %} Easy
                Kinematics {% endif %}
              </h5>
            </div>
          </div>
        </div>
      </section>

      <!-- Parte2 -->
      <section
        class="section section-full section-md bg-gray-100 section-background-custom"
      >
        <!-- Segunda Parte (parte común del body) -->
        {% block content %} {% endblock %}
      </section>

      <!-- Page Footer-->
      <footer
        class="section footer-classic bg-gray-3 context-dark-200 text-md-center"
      >
        <div class="footer-reference">
          <div
            class="title wow fadeInUp"
            style="font-size: 20px; margin-bottom: 10px"
          >
            Referencias:
          </div>
          <div class="reference-container">
            <a
              class="reference-links"
              target="_blank"
              href="https://enfisica.com/cinematicas/movimiento-rectilineo-uniforme/"
            >
              <span class="subtitle-classic wow"
                >VictoriaVMC (2025). Documentación completa.</span
              >
            </a>

            <a
              class="reference-links"
              target="_blank"
              href="https://enfisica.com/cinematicas/movimiento-rectilineo-uniforme/"
            >
              <span class="subtitle-classic wow"
                >Enfisica.com (2024). Movimiento Rectilíneo Uniforme</span
              >
            </a>

            <a
              class="reference-links"
              target="_blank"
              href="https://www.youtube.com/watch?v=LjHXiqvIWa8&ab_channel=ParaAprenderAlguit"
              ><span class="subtitle-classic wow"
                >Para Aprender Alguito (2023). Problemas de cruce de
                trenes</span
              >
            </a>

            <a
              class="reference-links"
              target="_blank"
              href="https://www.youtube.com/watch?v=CYuztmmHIWU&ab_channel=LegadodeNewton"
            >
              <span class="subtitle-classic wow"
                >Legado de Newton (2020). Tiro Parabólico
              </span>
            </a>

            <a
              class="reference-links"
              target="_blank"
              href="https://matematix.org/mpcl/"
            >
              <span class="subtitle-classic wow"
                >Mate. (2024). Movimiento parabólico: ejercicios resueltos y
                fórmulas.
              </span>
            </a>

            <a
              class="reference-links"
              target="_blank"
              href="https://www.wikiciencias.net/movimiento-rectilineo-uniforme-mru-y-movimiento-rectilineo-uniformemente-acelerado-mrua/#google_vignette"
            >
              <span class="subtitle-classic wow"
                >Wiki. (2024). Movimiento rectilíneo uniforme (MRU) y Movimiento
                Rectilíneo Uniformemente acelerado (MRUA).
              </span>
            </a>

            <a
              class="reference-links"
              target="_blank"
              href="https://www.lifeder.com/tiro-horizontal/"
            >
              <span class="subtitle-classic wow"
                >Zapata, F. (2024). Tiro horizontal.
              </span>
            </a>
          </div>
        </div>
        <div class="container footer-social">
          <p class="rights wow fadeInUp">
            <span>&copy;&nbsp; </span><span class="copyright-year"></span
            ><span>&nbsp;</span><span>Easy Kinematics</span><span>.&nbsp;</span
            ><span>All rights reserved.</span> Design&nbsp;by&nbsp;<a
              target="_blank"
              href="https://www.templatemonster.com/"
              >Templatemonster</a
            >
          </p>
          <div class="footer-classic-list-social wow fadeInUp">
            <ul class="list-inline list-social list-inline-sm">
              <li>
                <a
                  class="icon fa fa-linkedin"
                  target="_blank"
                  href="https://www.linkedin.com/in/victoriavmc/"
                ></a>
              </li>
              <li>
                <a
                  class="icon fa fa-github"
                  target="_blank"
                  href="https://github.com/victoriavmc"
                ></a>
              </li>
              <li>
                <a
                  class="icon fa fa-youtube"
                  target="_blank"
                  href="https://www.youtube.com/@victoriavmc"
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{{ url_for('static', filename='js/core.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
